.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.start-button {
  margin-bottom: 30px;
}

.card-deck {
  margin-bottom: 20px;
}

.card.selected {
  background-color: #218838;
  border: solid 3px #218838;
}

.card.disabled {
  background-color: #888888;
}

.card-title, .card-text, label, h5 {
  color: #333;
}

.card-text, label {
  font-size: 0.6em;
  margin-bottom: 0;
}

.col {
  padding: 0;
  line-height: 0.5em;
  margin: 10px;
}

.col.low {
  background-color: #ea4555;
}

.new-drink-form {
  margin-bottom: 10px;
}

.form-group {
  text-align: left;
  margin-bottom: 0;
}

.invalid-feedback {
  font-size: 0.5em;
}

.submit-button {
  margin-top: 10px;
}

.table {
  font-size: 0.6em;
}

.icon-spin {
  -webkit-animation: icon-spin 2s infinite linear;
          animation: icon-spin 2s infinite linear;
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
